{% extends 'base_patterns/base.html' %}
{% block title %}Удаление получателя{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Удалить рассылку для {{ mailing.recipient }}</h1>
    {% for recipient in mailing.recipient.all %}
    <p>Вы уверены, что хотите удалить рассылку для {{ recipient.fullname }}?</p>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a href="{% url 'web_project:mailing_home' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}